
.App {
  width: 100%;
  padding-top: 10px;
  background-color: #080810;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.error {
  animation: backgroundAnimation 3s linear infinite;
  background: linear-gradient(45deg, white 25%, black 25%, black 75%, white 75%);
  background-size: 10px 10px;
}

.freecodecamp-logo-contenedor {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo {
  width: 400px;
}

.contenedor-calculadora {
  width: 400px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

